html, body {
	margin: 0;
	padding: 0;
}

ol {
	background-color: #007ee5;
	color: #fff;
	font-family: Arial;
	display: inline-block;
	padding: 20px 30px 20px 40px;
	margin: 30px;
	border-radius: 3px;
}

li {
	padding: 5px;
	margin: 3px 0;
	background-color: #008cff;
	border-radius: 2px;
}

li:hover {
	background-color: #00b1ed;
}